body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
}
  
#board {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    width: 30%;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow-y: auto;
}

.column h2 {
    text-align: center;
}

.cards {
    margin-top: 20px;
}

.card {
    position: relative; /* Устанавливаем relative для контейнера, чтобы позиционирование крестика было относительно этой карточки */
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: grab;
}

.delete-card {
    position: absolute; /* Позиционируем крестик абсолютно относительно родительского элемента */
    top: 5px; /* Отступ сверху */
    right: 5px; /* Отступ справа */
    font-size: 18px; /* Размер крестика */
    cursor: pointer; /* Курсор при наведении */
    display: none; /* Скрываем иконку по умолчанию */
}

.card:active {
    cursor: grabbing;
}

.card:hover .delete-card {
    display: block; /* Показываем иконку при наведении на карточку */
}

.add-card {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.add-card:hover {
    background-color: #45a049;
}

/* Стили для формы добавления карточки */
.add-card-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.add-card-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-card-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.add-card-form button:hover {
    background-color: #45a049;
}

/* фантомный элемент */
.placeholder {
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
    margin-bottom: 10px;
}